@import url('../../../css/variables.css');

aside{
    border-right: 1px solid var(--ig-separator);
    width: 240px;
    height: 100vh;
    position: fixed;
    font-size: 19px;
    position: relative;

    transition: 160ms ease-in-out;

}

aside.smallNav{
    width: 70px;
}
aside.smallNav .navText{
    display: none;
}
aside.smallNav .navIcon{
    margin: 0;
}
aside.smallNav .navItem{
    justify-content: center;
}
aside.smallNav .logoWrapper{
    padding: 16px 0px 23px;
}
aside.smallNav .logoWrapper img{
    width: 100%;
}
aside.smallNav .activeNavItem{
    border:1px solid var(--ig-separator);

}

.sideNav {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 19px;
    padding: 17px 14px;
}
.logoWrapper{
    max-width: 140px;
}
.logoWrapper a:hover{
    opacity: .7;
}
.navigation{
    height: 100%;
}

.navItem,
.navItem a {
    display: flex;
    align-items: center;
    color: var(--ig-primary-text);
    border-radius: var(--border-radius-8);
    transition: 100ms all ease-in;
}
.navItem:hover{
    background-color: var(--navigation-hover-background-color);
}
.navItem:hover .navIcon{
    transform: scale(1.15);
}
.activeNavItem{
    font-weight: var(--font-weight-bold) !important;
}

.navIcon{
    margin-right: 12px;
    width: 24px;
    height: 24px;
    transition: 200ms transform ease-in-out;
}
.profileNavIcon{
    border-radius: 100%;
    overflow: hidden;
}

.navItem{
    padding: 15px 14px;
    cursor: pointer;
    margin-bottom: 8px;
}
.navItem img{
    width: 100%;
    object-fit: cover;
}

.lowerNav{
    position: relative;
}

.moreTab{
    position: absolute;
    bottom: 70px;
    background-color: var(--banner-background);
    box-shadow: 0 0 12px var(--ig-separator);
    border-radius: 16px;
    padding: 0 12px ;
}
.moreTab ul li {
    padding: 8px 2px;
}
.moreTab .icon {
    display: inline-block;
    width: 20px;
    margin-right: 20px;
}
.moreTab .rightChevron{
    float: right;
    color: var(--ig-separator);
}