:root{
    --ig-link: rgb(0, 55, 107);
    --ig-primary-text: rgb(0,0,0);
    --secondary-text: rgb(115, 115, 115);
    --semi-border-radius: 13px;
    --border-radius-8: 8px;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-regular: 400;
    --navigation-hover-background-color: rgb(242, 242, 242);
    --light-gray-color: rgb(142, 142, 142);
    --ig-primary-button: rgb(0, 149, 246);
    --primary-button-hover: rgb(24, 119,242);
    --ig-secondary-button: rgb(38, 38, 38);
    --ig-secondary-text: rgb(115, 115, 115);
    --ig-error-or-destructive: rgb(237, 73, 86);
    --ig-separator: rgb(219, 219, 219);
    --primary-background: rgb(255, 255, 255);
    --base-line-height: 16px;
    --always-black: 0,0,0;
    --always-white: 255, 255, 255;
    --highlight-background: rgb(239,239,239);
    --banner-background: rgb(255, 255, 255)
}