.postsWrapper{
    border-top: 1px solid var(--ig-separator);
}

.postsNav{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    color: var(--ig-secondary-text);
    margin: 0;
}

.postsNavPill{
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postsNavPill:not(:last-child){
    margin-right: 25px;
}

.navPillText{
    margin-left: 6px;
}

.pillWrapper{
    padding: 12px 0;
}

.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}