@import url('../fonts/instagram-sans/stylesheet.css');

body{
    background-color: #FFF;
    font-family: 'Instagram Sans', sans-serif;
}

a{
    text-decoration: none;
}
a:visited{
    color: unset;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}